@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  margin: 0;
  padding: 0;

  font-family: "system"
}

.navigation {
  -webkit-flex-flow: row wrap;
  background: #212121;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.navigation a {
  color: #FFFFFF;
  display: block;
  padding: 1em;
  text-decoration: none;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.find-me {
  max-width: 100%;
}

.find-me a, a:visited {
  font-size: 1.5em;
  padding: 0 0.5em;
  text-decoration: none;
}

.find-me__link--twitter {
  color: #1da1f2;
}

.find-me__link--github {
  color: #333;
}

.find-me__link--instagram {
  color: #ED4A55;
}

@media(max-device-width: 600px) {
  .find-me__link {
    display: block;
    margin: 10px 0;
    max-width: 100%;
  }

  .find-me__link i {
    font-size: 20em;
  }
}
